@(title: String, servers: Seq[Application.MCServer])
<!DOCTYPE html>
<html>
	<head>
		<title>@title</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("lib/bootstrap/css/bootstrap.css")">
	</head>
	<body>
		<div class="container-fluid">
			<div class="row">
			@for(s <- servers) {
				<div class="col-md-4 col-sm-6">
					<div class="panel panel-@if(s.running) {success} else {danger}">
						<div class="panel-heading">
							<h3 class="panel-title">@s.name</h3>
						</div>
						<div class="panel-body">
							@if(!s.running) {
								@helper.form(routes.Application.start(s.id)) {
									<button type="submit" class="btn btn-lg btn-block btn-success">
										Start Server</button>
									<p class="help-block">
										It may take up to a minute for the server to show as running.</p>
								}
							}
							@if(s.info.isDefined) {
								<dl class="dl-horizontal">
									<dt>Version:</dt>
									<dd>@s.info.get.version</dd>
								</dl>
								<dl class="dl-horizontal">
									<dt>Online Players:</dt>
									<dd>@s.info.get.numPlayers / @s.info.get.maxPlayers</dd>
								</dl>
							}
						</div>
						@if(s.info.isDefined) {
							<ul class="list-group">
							@for(player <- s.info.get.players) {
								<li class="list-group-item">@player</li>
							}
							</ul>
						}
					</div>
				</div>
			}
			</div>
		</div>
	</body>
</html>
